html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.heading{
    width: 100%;
    background-color: var(--light);
    min-height: 185px;
    padding-bottom: 100px;
    padding-top: 100px;
    @include center;
    .container{
        @include flex(column, center, flex-start);
        height: 100%;
        .heading__icon{
            @include center;
            width: 45px;
            height: 45px;
            background-color: var(--primary-color);
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 5px;
            img{
                width: 20px;
            }
        }
        .heading__title{
            font-family: JetBrainsMonoBold;
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: -1.5%;
            text-align: left;
            color: var(--text-light);
            padding: 7px 15px;
            background-color: var(--secondary-color);
            border-radius: 8px;
            margin-bottom: 15px;
            i{
                color: #9b9b9b;
            }
        }
        .heading__text{
            font-family: UbuntuRegular;
            width: 600px;
            color: var(--text-blug-light);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -1.5%;
            text-align: left;
        }
    }
}
  