:root {
  /* Primary Colors */
  --primary-color: #009EC0;
  --primary-dark: #006075;
  --primary-light: #00d0ff;
  /* Secondary Colors */
  --secondary-color: #642CA9;
  --secondary-dark: #410e80;
  --secondary-light: #7f52b6;
  /* Accent Colors */
  --accent-color: #e67e22;
  --accent-dark: #d35400;
  --accent-light: #f39c12;
  --text-light: #ffffff;
  --text-dark: #030712;
  --text-blug-light: #626262;
  --text-blug-dark: #5A6585;
  /* Neutral Colors */
  --light: #ffffff;
  --dark: #030712;
  --light-blug: #E8E8E8;
  --dark-blug: #161B2A;
  /* Additional Colors */
  --success-color: #4caf50;
  --error-color: #e74c3c;
  --info-color: #3498db;
  --warning-color: #f39c12;
  --icon: #ACACAC;
}

@font-face {
  font-family: PoppinsBold;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: PoppinsRegular;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PoppinsLight;
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Add other Poppins font variations similarly */
@font-face {
  font-family: JetBrainsMonoRegular;
  src: url("../assets/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: JetBrainsMonoBold;
  src: url("../assets/fonts/JetBrainsMono/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: UbuntuLight;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: UbuntuRegular;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: UbuntuMedium;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: UbuntuSemiBold;
  src: url("../assets/fonts/Ubuntu/Ubuntu-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: UbuntuBold;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* +++ Example usage +++
.container {
    @include flex(row, space-between, center);
}
.wrapper {
    @include column();
}
.box {
    @include center;
} 
*/
/* +++ Example Usage Grid +++
.container {
  @include grid-container(3, 20px);
}

.item1 {
  @include grid-item(1 / span 2, 1);
}

.item2 {
  @include grid-item(2, 2);
}

.centered {
  @include grid-item;
  @include center-content;
}

*/
/* +++ Example usage +++
.my-text {
    @include font('Poppins', bold); // Use Poppins font with bold weight
}
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  width: 100%;
  background-color: var(--light);
  min-height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.heading .container .heading__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: var(--primary-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 5px;
}
.heading .container .heading__icon img {
  width: 20px;
}
.heading .container .heading__title {
  font-family: JetBrainsMonoBold;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -1.5%;
  text-align: left;
  color: var(--text-light);
  padding: 5px 15px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  margin-bottom: 15px;
}
.heading .container .heading__title i {
  color: #9b9b9b;
}
.heading .container .heading__text {
  font-family: UbuntuRegular;
  color: var(--text-blug-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -1.5%;
  text-align: left;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__logo {
  font-family: UbuntuBold;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -1.5%;
  text-align: left;
  color: var(--text-dark);
}
.header .container .header__logo:hover {
  filter: grayscale(70%);
}
.header .container .header__logo b {
  color: var(--primary-color);
}
.header .container .header__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.header .container .header__nav ul li a {
  font-family: UbuntuMedium;
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -1.5%;
}
.header .container .header__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.header .container .header__actions .actions__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: var(--light-blug);
  color: var(--text-blug-dark);
  font-family: UbuntuMedium;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -1.5%;
}

.hero {
  width: 100%;
  padding-top: 80px;
  background-image: url("../assets/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero .container .hero__ellipse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 7px 15px 0px rgba(0, 0, 0, 0.1), 0px 27px 27px 0px rgba(0, 0, 0, 0.09), 0px 61px 37px 0px rgba(0, 0, 0, 0.05), 0px 109px 44px 0px rgba(0, 0, 0, 0.01), 0px 170px 48px 0px rgba(0, 0, 0, 0);
}
.hero .container .hero__ellipse img {
  width: 100%;
}
.hero .container .hero__author {
  font-family: PoppinsBold;
  color: var(--text-blug-light);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1.5%;
  margin-top: 28px;
  margin-bottom: -14px;
}
.hero .container .hero__title {
  font-family: PoppinsBold;
  color: var(--text-dark);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1.5%;
  margin-bottom: 20px;
}
.hero .container .hero__button {
  font-family: UbuntuMedium;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  border-radius: 8px;
  background: linear-gradient(160.52deg, var(--primary-color) -66.429%, var(--secondary-color) 102.868%);
  color: var(--text-light);
  transition: 0.2s ease;
}
.hero .container .hero__button:hover {
  filter: grayscale(50%);
}/*# sourceMappingURL=main.css.map */